# old_tmpdir="${TMPDIR:-/tmp}"
# old_tmp="${TMP:-/tmp}"
# old_temp="${TEMP:-/tmp}"
# old_tempdir="${TEMPDIR:-/tmp}"
use flake;
# export TMPDIR="$old_tmpdir"
# export TMP="$old_tmp"
# export TEMP="$old_temp"
# export TEMPDIR="$old_tempdir"

dotenv_if_exists .env.local

# eval "$(VARLOCK_TELEMETRY_DISABLED=1 bun x --bun varlock load --format shell)"
